./bn01/2/main
bn01/2/main
./bn01/4/main
bn01/4/main
./exam/1/main
exam/1/main
./exam/4/main
exam/4/main
./exam/5/main
exam/5/main
./exam/6/main
exam/6/main
./.git/hooks/applypatch-msg.sample
.git/hooks/applypatch-msg.sample
./.git/hooks/commit-msg.sample
.git/hooks/commit-msg.sample
./.git/hooks/fsmonitor-watchman.sample
.git/hooks/fsmonitor-watchman.sample
./.git/hooks/post-update.sample
.git/hooks/post-update.sample
./.git/hooks/pre-applypatch.sample
.git/hooks/pre-applypatch.sample
./.git/hooks/pre-commit.sample
.git/hooks/pre-commit.sample
./.git/hooks/pre-merge-commit.sample
.git/hooks/pre-merge-commit.sample
./.git/hooks/prepare-commit-msg.sample
.git/hooks/prepare-commit-msg.sample
./.git/hooks/pre-push.sample
.git/hooks/pre-push.sample
./.git/hooks/pre-rebase.sample
.git/hooks/pre-rebase.sample
./.git/hooks/pre-receive.sample
.git/hooks/pre-receive.sample
./.git/hooks/push-to-checkout.sample
.git/hooks/push-to-checkout.sample
./.git/hooks/sendemail-validate.sample
.git/hooks/sendemail-validate.sample
./.git/hooks/update.sample
.git/hooks/update.sample
./kr01/1/main
kr01/1/main
./kr01/2/main
kr01/2/main
./kr01/6/a.out
kr01/6/a.out
./kr01/6/main
kr01/6/main
./kr01/7/main
kr01/7/main
./new_bn/4/main
new_bn/4/main
./new_bn/5/main
new_bn/5/main
./playground/main
playground/main
./sm01/1/a.out
sm01/1/a.out
./sm01/1/sm01-1
sm01/1/sm01-1
./sm01/2/a.out
sm01/2/a.out
./sm01/3/a.out
sm01/3/a.out
./sm01/4/a.out
sm01/4/a.out
./sm01/5/a.out
sm01/5/a.out
./sm02/1/a.out
sm02/1/a.out
./sm02/2/a.out
sm02/2/a.out
./sm02/3/a.out
sm02/3/a.out
./sm02/4/a.out
sm02/4/a.out
./sm02/5/main
sm02/5/main
./sm03/1/a.out
sm03/1/a.out
./sm03/1/main
sm03/1/main
./sm03/2/a.out
sm03/2/a.out
./sm03/3/a.out
sm03/3/a.out
./sm03/3/main
sm03/3/main
./sm03/4/main
sm03/4/main
./sm03/5/a.out
sm03/5/a.out
./sm03/5/main
sm03/5/main
./sm04/1/a.out
sm04/1/a.out
./sm04/2/a.out
sm04/2/a.out
./sm04/4/a.out
sm04/4/a.out
./sm04/5/a.out
sm04/5/a.out
./sm05/1/main
sm05/1/main
./sm05/2/a.out
sm05/2/a.out
./sm05/2/main
sm05/2/main
./sm05/4/main
sm05/4/main
./sm06/5/main
sm06/5/main
./sm06/main
sm06/main
./sm07/2/main
sm07/2/main
./sm07/5/main
sm07/5/main
./sm08/3/main
sm08/3/main
./sm09/2/main
sm09/2/main
./sm09/3/main
sm09/3/main
./sm09/4/main
sm09/4/main
./sm09/5/main
sm09/5/main
:w
